body {
    font-family: 'Arial', sans-serif;
    background:  url('../static/Backround-img.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: white;
    padding: 30px;
    padding-right: 74px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    margin-left: -335px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top:-400px;
    margin-left: -220px;
    margin-bottom: -20px;

}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 22px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: #1f1d29;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #555555;
}

.back{
    color: #ffffff;
    margin-top: 380px;
    margin-left: -275px;
}
.error {
    color: red;
    font-size: 0.9rem;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    form {
        padding: 10px;
    }

    .back {
        font-size: 1rem;
        margin-top: -200px; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
        margin-left: 3px;
        position: absolute;
    }

    form {
        margin: 0 -120px 0;
        position: absolute;
        width: 300px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 20px; 
        font-size: 0.9rem; 
        width: 250px;
    }

    input[type="submit"] {
        padding: 8px 10px; 
        font-size: 0.9rem; 
    }

    .back {
        font-size: 0.9rem;
        margin-top: 350px;
        margin-left: 1px;
    }
}
