<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Dashboard.css') }}">
    <meta http-equiv="refresh" content="1">
</head>
<body>
    <div class="dashboard-container">
        <!-- Side Navigation -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <img class="Side-img" src="{{ url_for('static', filename='Entertainment.png') }}" alt="House Image" />

            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('entertainment') }}" class="active">Entertainment</a></li>
                <li><a href="{{ url_for('trash') }}">Garbage</a></li>
                <li><a href="{{ url_for('logout') }}" class="go-back">Logout</a></li>                
            </ul>
        </aside>

        <!-- Main Content -->
        <main class="main-content">
            <header class="header">
                <h1>Dashboard.</h1>
                <h1 class="time"> {{time}} </h1>
                
            </header>
            <section class="charts">
                <div class="chart">
                    <h3>Netflix</h3>
                    <p> Username: lanlords@gmail.com</p>
                    <p> Password: L@Nlords420</p>
                    <h3>Disney+</h3>
                    <p> Username: lanlords@gmail.com</p>
                    <p> Password: L@Nlords420</p>
                    <h3>Crunchyroll</h3>
                    <p> Username: lanlords@gmail.com</p>
                    <p> Password: L@Nlords420</p>
                    <h3>Peacock</h3>
                    <p> Username: lanlords@gmail.com</p>
                    <p> Password: L@Nlords420</p>
                    <h3>hulu</h3>
                    <p> Username: lanlords@gmail.com</p>
                    <p> Password: L@Nlords420</p>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
