<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Dashboard</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <header class="hero-section">
        <nav class="top-nav">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#why">Why?</a></li>
                <li><a href="#who">Extras</a></li>
                <li><a href="#Contacts">Contacts</a></li>
            </ul>
        </nav>
        <div class="hero-content">
            <h1>Welcome to our Apartment.</h1><a href="dashboard.html">
                <button class="Dashboard-button"> Dashboard </button>
            </a>
        </div>
    </header>

    <section id="why" class="why-section">
        <h2>Why our <span>Apartment</span> ?</h2>
        <div class="features">
            <div class="feature">
                <h3>Our V-LAN</h3>
                <p>Our V-LAN is very Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium et illo quisquam ipsam facilis, consequatur rerum ab rem numquam, temporibus laborum odit eum voluptas ea vitae dolore quae perspiciatis aspernatur distinctio veniam accusantium voluptatum repellat. Ut sapiente consequuntur fugiat ab quo vel aspernatur a, corporis sint </p>
            </div>
            <div class="feature">
                <h3>Vibes</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus rerum temporibus expedita nobis sit, sint saepe deleniti veniam? Obcaecati ipsum voluptatum aliquid nihil natus nostrum explicabo possimus maiores aliquam ut laboriosam necessitatibus eligendi ipsa praesentium maxime, tempora impedit quaerat! Voluptatum quo sint at. Eos, accusantium.
                </p>
            </div>
            <div class="feature">
                <h3>Shared entertainment accounts</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid amet natus rem itaque, iusto culpa, sed excepturi delectus debitis aperiam ipsum, repellat eius hic explicabo ullam harum pariatur quas sequi quasi. Nisi suscipit ad numquam facilis rerum alias? Neque asperiores fugit nulla fugiat, cupiditate consequatur.</p>
            </div>
        </div>
    </section>

    <section id="who" class="Extra-stuff">
        <h2>The LANlords crew</h2>
        <div class="invest-info">
            <div class="info-card">
                <h3>Kata ....</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nisi nulla, perspiciatis voluptates qui dicta a porro voluptatibus consequatur dolor hic quasi assumenda sit voluptatem eaque voluptatum! Repellat exercitationem cumque minima dolores tempora praesentium doloremque. Harum qui nesciunt animi beatae consequuntur expedita neque dolore optio ipsam eveniet recusandae, veritatis nisi!</p>
            </div>
            <div class="info-card">
                <h3>Tijm Mondok</h3>
                <p> ITS DJ KHALED!!! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus debitis quo cupiditate voluptatum reiciendis, quos molestiae eligendi ab adipisci nemo eaque sequi rem, dolorum cum cumque nulla. Labore ea, ullam amet quas ex sunt unde pariatur similique reiciendis debitis consequatur!</p>
            </div>
            <div class="info-card">
                <h3>Tudor Duici</h3>
                <p> ITS DJ KHALED!!! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus debitis quo cupiditate voluptatum reiciendis, quos molestiae eligendi ab adipisci nemo eaque sequi rem, dolorum cum cumque nulla. Labore ea, ullam amet quas ex sunt unde pariatur similique reiciendis debitis consequatur!</p>
            </div>
            <div class="info-card">
                <h3>Omar Xavier</h3>
                <p> ITS DJ KHALED!!! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus debitis quo cupiditate voluptatum reiciendis, quos molestiae eligendi ab adipisci nemo eaque sequi rem, dolorum cum cumque nulla. Labore ea, ullam amet quas ex sunt unde pariatur similique reiciendis debitis consequatur!</p>
            </div>
        </div>
    </section>

    <footer id="Contacts">
        <p>Contact Us.</p>
        <ul>
            <li><a> one thing</a></li>
            <li><a> one thing</a></li>
            <li><a> one thing</a></li>
            <li><a> one thing</a></li>
            <li><a> one thing</a></li>
            <li><a> one thing</a></li>
            <li><a> one thing</a></li>
            <li><a> one thing</a></li>
        </ul>
    </footer>
</body>
</html>
