<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartment Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <header class="hero-section">
        <nav class="top-nav">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#why">Why?</a></li>
                <li><a href="#who">Extras</a></li>
                <li><a href="#Contacts">Contacts</a></li>
            </ul>
        </nav>
        <div class="hero-content">
            <h1>Welcome to our Apartment.</h1>
            <a class="Dashboard-button" href="{{ url_for('dashboard') }}" >Go to Dashboard</a>
            </a>
        </div>
    </header>

    <section id="why" class="why-section">
        <h2>Why our <span>Apartment</span> ?</h2>
        <div class="features">
            <div class="feature">
                <h3>Ad Blocker</h3>
                <p>Our apartment offers a unique perk with built-in ad blockers on our routers, ensuring a smoother, more secure browsing experience. This feature helps eliminate intrusive ads across all devices connected to the network, reducing distractions and enhancing your online privacy. Whether you're streaming, working from home, or just browsing the web, you’ll enjoy faster load times and safer internet use. It's just one of the thoughtful touches that make our home stand out </p>
            </div>
            <div class="feature">
                <h3>Energy tracking</h3>
                <p>Our apartment features an energy tracking meter, allowing you to monitor your electricity usage in real time. This smart feature helps you stay informed about your energy consumption, making it easier to manage your utility costs and live more sustainably. By providing insights into your daily usage, it empowers you to make eco-friendly choices while enjoying a modern, efficient home.
                </p>
            </div>
            <div class="feature">
                <h3>Shared Entertainment Accounts</h3>
                <p>Our apartment goes the extra mile by providing shared entertainment accounts for popular streaming platforms, making movie nights and binge-watching even better. Enjoy access to your favorite shows, movies, and music without the extra subscription costs. It’s a hassle-free way to relax, connect with friends, and make the most of your downtime. This added convenience makes our home a perfect place for comfort, fun, and shared experiences.</p>
            </div>
        </div>
    </section>

    <section id="who" class="Extra-stuff">
        <h2>The LANlords crew</h2>
        <div class="invest-info">
            <div class="info-card">
                <h3>Kata Szundi</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nisi nulla, perspiciatis voluptates qui dicta a porro voluptatibus consequatur dolor hic quasi assumenda sit voluptatem eaque voluptatum! Repellat exercitationem cumque minima dolores tempora praesentium doloremque. Harum qui nesciunt animi beatae consequuntur expedita neque dolore optio ipsam eveniet recusandae, veritatis nisi!</p>
            </div>
            <div class="info-card">
                <h3>Tijm Mondok</h3>
                <p> ITS DJ KHALED!!! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus debitis quo cupiditate voluptatum reiciendis, quos molestiae eligendi ab adipisci nemo eaque sequi rem, dolorum cum cumque nulla. Labore ea, ullam amet quas ex sunt unde pariatur similique reiciendis debitis consequatur!</p>
            </div>
            <div class="info-card">
                <h3>Tudor Duici</h3>
                <p> ITS DJ KHALED!!! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus debitis quo cupiditate voluptatum reiciendis, quos molestiae eligendi ab adipisci nemo eaque sequi rem, dolorum cum cumque nulla. Labore ea, ullam amet quas ex sunt unde pariatur similique reiciendis debitis consequatur!</p>
            </div>
            <div class="info-card">
                <h3>Omar Xavier</h3>
                <p> ITS DJ KHALED!!! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus debitis quo cupiditate voluptatum reiciendis, quos molestiae eligendi ab adipisci nemo eaque sequi rem, dolorum cum cumque nulla. Labore ea, ullam amet quas ex sunt unde pariatur similique reiciendis debitis consequatur!</p>
            </div>
        </div>
    </section>

    <footer id="Contacts">
        <p>Contact Us</p>
        <ul>
            <li><a>lanlords@gmail.com</a></li>
            <li><a>Spaanseweg 78b</a></li>
        </ul>
    </footer>
</body>
</html>
